@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Roboto:100,300,400,500&display=swap');

body {
	min-height: 100vh;
	margin: 0;
	// background-color: rgb(127, 127, 127);
	padding: 1rem 2rem;
	font-family: 'Roboto', sans-serif;
}

.app {
	position: relative;
	width: 100%;
}

.navigation {
	margin-bottom: 3rem;
}

.navItem {
	font-size: 3rem;
	font-weight: 300;
	opacity: 0.5;

	&.active {
		font-weight: 600;
		opacity: 1;
	}

	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}

canvas {
	border: solid 1px rgb(127, 127, 127);
	width: 400px;
	height: 400px;
	max-height: 400px;
	min-width: 400px;
	min-height: 400px;
	box-sizing: border-box;

	@media (max-width: 900px) {
		width: auto;
		height: auto;
	}
}

input {
	background: black;
	border: none;
	padding: 4px 4px 1px 4px;
	color: white;
	font-family: Consolas, monospace;
	font-size: 14px;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

.GLScene {
	height: 600px;
	.section {
		height: 100%;
	}
}
