.root {
	width: 100%;
	height: 100%;
	margin-bottom: 50px;
}

.title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.contentWrapper {
	display: flex;
	flex-wrap: nowrap;

	.root.fullScreen & {
		flex-wrap: wrap;
	}

	@media (max-width: 900px) {
		flex-wrap: wrap;

		.root:not(.fullScreen) & {
			canvas {
				flex-basis: 100%;
			}
		}
	}
}

.textWrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 10px;

	@media (min-width: 900px) {
		width: calc(100% - 420px);
		flex-direction: row;
		flex-wrap: nowrap;
		margin-top: 0;
		margin-left: 10px;

		.root.fullScreen & {
			width: 100%;
			margin-top: 10px;
		}
	}
}

.notes {
	margin-top: 10px;
	font-family: 'Inconsolata', monospace;
	line-height: 1.25rem;
	width: 50%;

	@media (max-width: 900px) {
		width: 100%;
	}
}
